<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.dogyearcalculator" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Dog Years Calculator</name>
    <description>
        Basic calculator app for dog years.
    </description>
    <author email="gareth_klyszejko@yahoo.com" href="http://phonegap.com">
        Gareth Klyszejko
    </author>
    <icon src="dog3.jpg" />
    <content src="index.html" />
    <access origin="*" />
</widget>
